header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 30px;
    background: linear-gradient(to bottom, #111 10%, transparent 90%);
    transition: all ease 0.5s;
}

header.black {
    background-color: #141414;
}

header img {
    height: 35px;
    border-radius: 5px;
}

header img:first-child {
    height: 50px;
    border-radius: 0px;
}

header .header--search {
    margin-left: auto;
    z-index: 1;
    position: relative;
}

header .searchIcon {
    font-size: 18px;
    height: inherit;
    margin-top: 5px;
}

header .header--search .searchBox { 
    /* input  */
    display: inline-block;
    width: 0px;
    display: none;
    transition: all ease 1s;
}

.openIcon {
    position: absolute;
    z-index: 999;
    left: -194px;
    top: 2px
}

.openBox {
    display: block !important;
    position: absolute;
    top: 3px;
    right: 0px;
    left: -200px;
    background-color: #111;
    border: solid 0.5px #fff;
    width: 200px !important;
    height: 36px;
    transition: all ease 1s;
    color: #fff;
    padding-left: 40px;
}

header .header--notification {
    margin: 3px 10px;
}

header .header--arrow-down {
    display: inline-block;
}

header .header--arrow-down svg {
    transition: all ease 0.5s;
}

header .header--user:hover .header--arrow-down svg {
    transform: rotate(180deg);
}

header .header--user,
.header--notification,
.header--search {
    position: relative;
    cursor: pointer;
}

header .header--notification .header--menu-notification {
    position: absolute;
    padding: 40px;
    top: 40px;
    color: rgba(255, 255, 255, 0.5);
    right: 0px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.2s linear;
    ;
}


header .header--user .header--menu-account {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.2s linear;
    ;
}

header .header--user:hover .header--menu-account,
header .header--menu-account:hover,
header .header--notification:hover .header--menu-notification {
    transition: visibility 0s, opacity 0.2s linear;
    visibility: visible;
    opacity: 1;
}

header .header--user .header--menu-account ul {
    padding: 10px;
    margin: 0px;
}

header .header--user .header--menu-account ul li {
    list-style: none;
    padding: 10px 2px;
    margin: 0px;
}

header .header--user .header--menu-account hr {
    border: none;
    border-top: solid 0.5px rgba(0, 0, 0, 0.9);
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
}

header .header--user .header--menu-account ul li a {
    color: #fff;
    padding: 0px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
}

header .header--user .header--menu-account ul li a img {
    padding: 0px;
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    opacity: 1;
    margin-right: 10px;
}

header .header--user .header--menu-account ul li a svg {
    padding: 0px;
    font-size: 28px;
    margin-bottom: -7px;
    opacity: 0.7;
    margin-right: 10px;
}

header .header--user img {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 5px;
}

header .menu ul {
    margin-left: 0px;
    padding-left: 25px;
}

header .menu ul li {
    display: inline;
}

header .menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 10px;
    transition: all ease 0.2s;
}

header .menu ul li a:hover {
    opacity: 0.7;
}